@charset "utf-8";

body{
    font-family: serif;
    background-color: rgb(241, 197, 74);
    color: rgb(239, 241, 243);
}

*,*::before, *::after{
    box-sizing: border-box;
}

header{
    padding: 80px;
    color: rgb(1, 2, 3);
    animation: titleAnimation 2s;
}
@keyframes titleAnimation {
    0%{
        letter-spacing: 3em;
        opacity: 0;
    }
}

header h1{
    font-size: 70px;
    font-weight:  bold;
    margin-bottom: 60px;
    white-space: nowrap;
    animation: titleAnimation 1.5s;
}

header p{
    white-space: nowrap;
    font-size: 50px;
}
header img{
    display: inline-block;
    width: 90%;
}

video {
width: 70%;
}

main {
    max-width: 1000px;
    width: 100%;
    margin: 50px auto;
}

.contents li {
    position: relative;
    opacity: 0;
    transform: translatey(80px);
    transition: 1s;
}
.contents li.show{
    opacity: 1;
    transform: none;
}

.contents li.show h2,
.contents li.show p,
main .contents li.show img{
    transform: none;
    opacity: 1;
}


.contents li:nth-of-type(odd) .contentText{
    right: 0;
}

.contents li:nth-of-type(even) .contentText{
    align-items: flex-start;
}


.contents li:nth-of-type(even) img {
    margin-left: auto;
    transform: translate(20px, 0px);
}



.contentText {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: absolute;
    top: 40px;
}
.contents h2 {
    font-size: 50px;
    font-weight: bold;
    white-space: nowrap;
    background-color: rgba(15, 1, 1, 0.8);
    padding: 10px 20px;
    line-height: 1.4;
    letter-spacing: .05em;
    border-radius: 10px;
    opacity: 0;
    transform: translateY(30px);
    transition: 1s;
}

.contents a {
    color: aliceblue;
}
.contents p {
    line-height: 1.6;
    background-color: #555;
    font-size: 20px;
    max-width: 300px;
    padding: 10px;
    margin-top: 20px;
    border-radius: 10px;
    opacity: 0;
    transform: translateY(30px);
    transition: 1s;
}

.contents img {
    margin-top: 5rem;
    width: 60%;
    display: block;
    border-radius: 10px;
    opacity: 0;
    transform: translateX(-20px);
    transition: 1s .5s;
}

